

body{
	background-color:grey;
	font-family: "roboto", consolas, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: white;
	background-image: none;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

h1 {
	font-size: 8em;
	text-align: center;
	font-family: "Impact", "Helvetica";
}
a:link, a:visited {
    background-color: teal;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
}


a:hover, a:active {
    color: yellow;
    background-color: blue;
}

table {
	
	width:80%;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	

}

td {
	vertical-align: middle;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#00C8FA; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
mrelwer.css
Displaying mrelwer.css.